body{
    margin: 0;
    padding: 0;
    font-family: Arial,  sans-serif;
    background-color:  rgb(11, 218, 149);
}
.contact{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:  rgb(5, 216, 118);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}
h1{
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 30px;
}
label{
    text-align: left;
    color:rgba(5, 216, 118, 0.863); 
    font-size: 20px;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid lightgreen; 
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: lightgreen; 
    outline: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff; 
    background-color: #38d810; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #38d810; 
}

button:active {
    background-color: #38d810; 
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}