body{
    font-family: Arial, sans-serif;
    background-color: rgb(16, 180, 52); 
    color: rgb(16, 180, 52);
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: whitesmoke; 
    font-size: 30px;
    margin-top: 20px;
}
section{
    background-color: rgb(16, 180, 52); 
    padding: 25px;
    border-radius: 20px;
    margin: 25px auto;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
p{
    background-color: rgb(16, 180, 52);
    color: whitesmoke;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    font-size: 18px;
    transition: transform 0.3s;
}
p:hover{
    transform: scale(1.05);
}